<header>
<h1>Welcome to Ferg Records</h1>
</header>
<nav>
    <ul>
        <li><NavLink href="/"> Home</NavLink></li>
        @* <li><NavLink href="/todo"> TODO</NavLink></li> *@
        @* <li><NavLink href="/Error"> ERROR</NavLink></li> *@
    </ul>
</nav>

@code {

}
